@charset "UTF-8";

body{
    background-color: rgba(115, 53, 156, 0.685);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
h1{
    color: rgb(25, 3, 85);
    background-color: rgba(42, 80, 204, 0.432);
}
h2{
    color: rgb(205, 0, 44);
}
p{
    text-align: justify;
    color: #fff;
}
a{
    color: #fff;
}